.container-items {
  height: 100%;
  position: relative;
  top: 20vh;
}

.todo_items {
  background: rgb(255, 255, 255) !important;
  width: 100%;
  border-radius: 6px;
  border: 2px solid rgb(100, 72, 191) !important;
}

.todo_items .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: transparent !important;
}

.todo_items input {
  cursor: pointer !important;
}

.todo_items.completed {
  text-decoration: line-through;
  border: 2px solid rgb(15, 147, 3) !important;
}

/* =========== MUI Materials CSS custom */
